@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');
@import "tailwindcss";

@theme {
  --font-sans: 'NanumSquare', sans-serif;

  /* Figma 시안 기준 브레이크포인트 */
  --breakpoint-tablet: 744px;
  --breakpoint-pc: 1280px;
  
  /* 디자인 시안(Figma) 지정 컬러 시스템 명시 */
  --color-slate-900: #0F172A;
  --color-slate-800: #1E293B;
  --color-slate-500: #64748B;
  --color-slate-400: #94A3B8;
  --color-slate-300: #CBD5E1;
  --color-slate-200: #E2E8F0;
  --color-slate-100: #F1F5F9;

  --color-violet-600: #7C3AED;
  --color-violet-100: #EDE9FE;

  --color-rose-500: #F43F5E;

  --color-lime-300: #BEF264;

  --color-amber-800: #92400E;
}

body {
  font-family: var(--font-sans);
  background-color: #F8FAFC; /* Slate 50 */
  color: #0F172A; /* Slate 900 */
}
